.calculator {
  max-width: 320px;
  margin: 0 auto;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  background-color: #292929;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

.head {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

.display {
  font-size: 2em;
  text-align: right;
  padding: 15px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  margin-bottom: 15px;
}

.buttons button {
  font-size: 1.4em;
  width: 60px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #444;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.buttons button:hover {
  background-color: #555;
}

.name-button {
  font-size: 1.3rem;
  padding: 12px 25px;
  margin-top: 20px;
  background-color: #FF6347; /* Change to your preferred color */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.name-button:hover {
  background-color: #FF4500; /* Change to your preferred color on hover */
}